@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

div.discoverCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column nowrap;
    border-radius: 30px;
    box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.5);
    width: 41rem;
    background-color: #fff;
}

/* Card Header */

div.cardHeader {
    background-color: #DCDCDC;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

div.cardHeader h1 {
    font-weight: 200;
    text-align: left;
    margin-left: 2.2rem;
}

div.cardHeader h1 strong {
    font-weight: 400;
}

/* Card Body */

div.cardBody {
    display: flex;
    flex-flow: row wrap;
    /* gap: 2vh; */
    width: 100%;
    justify-content: space-between;
}

div.cardBody > div.mediaItems {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    margin: 0rem 2.5rem 0rem;
}

div.cardBody > div.mediaItems > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

div.cardBody > div.mediaItems > div > img {
    width: 2rem;
    height: 2rem;
}


div.cardBody > div.profilePicture {
    display: flex;
    align-self: center;
    /* margin-bottom: 1.5rem; */
    background-color: rgba(217, 217, 217, 0.49);
    border-radius: 100px;
    box-shadow: 0px 0px 32px -2px rgba(0, 0, 0, 0.41);
    margin-right: 3rem;
    
}

div.cardBody > div.mediaItems > div.linkedin {
    padding-top: 5px;
}

div.cardBody > div.mediaItems > div.email {
    padding-bottom: 5px;
}

div.cardBody > div.profilePicture > img {
    width: 9rem;
    height: 9.5rem;
    /* padding: 1rem; */
    border-radius: 100px;
}

div.cardBody > div.mediaItems > div > h2 {
    font-size: 20px;
    font-weight: 300;
}
