:root {
    background-color: #F2F2F2;
    /* padding: 30px; */
    padding-right: 0;
    margin-right: 0;
    background-image: linear-gradient(-30deg, #E84F7C, #C77A76, #682FE5);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 30% 150%;
    -webkit-animation: AnimationName 47s ease infinite;
    animation: AnimationName 47s ease infinite;
    border-top-left-radius: 30px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
}

.white-grad {
    background: 
      linear-gradient(rgb(255, 255, 255) 0 0) padding-box,
      linear-gradient(to right, #9c20aa, #fb3570) border-box;
    color: #313149;
    border: 5px solid transparent;
    border-radius: 15px;
}

/* Discover Page */

div.discoverPage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    /* align-items: center; */
}

/* Discover Body */

div.discoverBody {
    display: flex;
    flex-flow: column nowrap;
    /* background-color: #F2F2F2; */
    /* padding: 100px; */
}

div.discoverBody > div.discoverTitle h1 {
    font-size: 112px;
    margin-left: 7vw;
    text-align: left;
    background: -webkit-linear-gradient(right, #E84F7C, #682FE5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.discoverBody > div.discoverTitle2 h2 {
    font-size: 40px;
    font-weight: 500;
    margin-top: -4vh;
    margin-left: 9vw;
    text-align: left;
}

div.discoverBody > div.discoverBodyText p {
    font-size: 20px;
    font-weight: 300;
    margin-left: 9vw;
    text-align: left;
}

div.discoverBody > div.searchInput {
    margin-top: 2.9rem;
    text-align: left;
    margin-left: 9vw;
}

/* Card */

div.cardDisplay {
    display: flex;
    flex-flow: column nowrap;
    /* height: 100vh; */
    justify-content: center;
    /* margin-top: 15%; */
    margin-right: 8vw;
}

div.cardDisplay > div.createBtn {
    padding-left: 25vw;
    padding-top: 14vh;
}

/* Discover Card Container */

div.discoverCardContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
    height: 100vh;
}

div.discoverCardContainer > div:last-child() {
    margin-bottom: 50px;
}

div.searchInput > img {
    height: 25px;
    width: 25px;
    position: absolute;
    margin-left: 26rem;
    margin-top: 1.4rem;
}

/* Purple Section */
/* 
div.purpleSection {
    z-index: -1;
    height: 100%;
    float: right;
}

div.purpleSection img {
    height: 100vh;
    width: 30vw;
    border-radius: 30px 0px 0px 30px;
} */

.inputSearch{
    width: 28rem;
    height: 3rem;
    padding-left: 2px;
    font-size: 16px;
    background: rgb(255, 255, 255) url('../images/search.png') right no-repeat, linear-gradient(to right, #9c20aa, #fb3570) border-box;
    background-size: 30px;
    background-position: 90%;
    background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    outline: 0;
}

.inputSearch:hover {
    transition: 0.5s;
    border: 5px solid rgba(39, 39, 39, 0.425);
    outline: 0;
}