:root {
    background-color: #F2F2F2;
    /* padding: 30px; */
    padding-right: 0;
    margin-right: 0;
    background-image: linear-gradient(105deg, #f91a1a, #1a9ff9, #25f91a);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 30% 1000%;
    -webkit-animation: AnimationName 47s ease infinite;
    animation: AnimationName 47s ease infinite;
    border-top-left-radius: 30px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
}

/* Discover Page */

div.discoverPage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    /* align-items: center; */
}

/* Discover Body */

div.discoverBody {
    display: flex;
    flex-flow: column nowrap;
    /* background-color: #F2F2F2; */
    /* padding: 100px; */
}

div.discoverBody > div.discoverTitle h1 {
    font-size: 112px;
    margin-left: 7vw;
    text-align: left;
}

div.discoverBody > div.discoverTitle2 h2 {
    font-size: 40px;
    font-weight: 500;
    margin-top: -4vh;
    margin-left: 9vw;
    text-align: left;
}

div.discoverBody > div.discoverBodyText p {
    font-size: 20px;
    font-weight: 300;
    margin-left: 9vw;
    text-align: left;
}

div.discoverBody > div.searchInput {
    margin-top: 2.9rem;
    text-align: left;
    margin-left: 9vw;
}

/* Card */

div.cardDisplay {
    display: flex;
    flex-flow: column nowrap;
    /* height: 100vh; */
    justify-content: center;
    /* margin-top: 15%; */
    margin-right: 8vw;
}

div.cardDisplay > div.createBtn {
    padding: 15vh 0px 20px 21vw;
    justify-content: right;
}

/* Discover Card Container */

div.discoverCardContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
    height: 100vh;
}

div.discoverCardContainer > div:last-child() {
    margin-bottom: 50px;
}

/* Purple Section */
/* 
div.purpleSection {
    z-index: -1;
    height: 100%;
    float: right;
}

div.purpleSection img {
    height: 100vh;
    width: 30vw;
    border-radius: 30px 0px 0px 30px;
} */

.inputSearch{
    width: 28rem;
    height: 3rem;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 16px;
    border: 5px solid transparent;
    background: white url('../images/search.png') right no-repeat;
    background-size: 30px;
    background-position: 90%;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    outline: 0;
}

.inputSearch:hover {
    transition: 0.5s;
    border: 5px solid rgb(211, 66, 167);
    outline: 0;
}

/* @-webkit-keyframes AnimationName {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}
@keyframes AnimationName {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
} */